* {
    margin: 0;
    padding: 0;
    outline: 0;
}

html, body {
    width: 100%;

    font-family: "Open Sans", sans-serif;
}

h1 {
    font-family: 'PT Serif', serif;
}

.loc {
    font-style: italic;
}

.vert-div-container {
    text-align: center;
}

.vert-div {
    display: inline-block;
    height: 55px;
    width: 1px;
    background-color: #dedede;
}

.top {
    background-color: #f6f9fc;
    padding-bottom: 7%;
}

.header {
    position: relative;
    border-bottom: 3px solid #00007e;
}

.header > .logo {
    height: 100px;
    position: relative;
    top: 53px;
}

.welcome {
    margin-top: 8%;
}
.welcome h1 {
    font-size: 4em;
}

.welcome p {
    font-size: 1.6em;
}

.welcome-brief {
    margin-top: 20px;
}


.full-banner  {
    border-top: 10px solid #2d527c;
    background-color: #2876ce;
    color: white;
}
.contact-info {
    text-align: center;
}

.contact-info.with-header {
    padding: 50px 0;
}

.contact-info.with-header .contact-methods {
    margin-top: 35px;
}

.contact-methods {
    padding: 35px;
    background-color: rgba(0, 0, 0, 0.06);
}

.contact-method {
    font-size: 2em;
}

.contact-method .note {
    font-size: 0.5em;
    color: #7dbaff;
}

.business-services {
    margin-top: 20px;
}

.service-container.full {
    background-color: #f6f9fc;
}

.service {
    padding: 50px 30px;
    margin-top: 30px;
    border-top: 1px solid #dedede;
}

.service .more {
    float: right;
}

.service-title {
    font-size: 1.6em;
    text-transform: uppercase;
    color: #3c82ef;
}

.service-desc {
    font-size: 1.2em;
}

.service-icon {
    text-align: center;
}
.service-icon img {
    width: 35%;
    max-width: 180px;
}

.results {
    margin-top: 10%;
    border-top: 1px solid #dedede;
}

.results-gallery {
    margin-top: 5%;
}

.result img {
    width: 100%;
}

.result .before, .result .after {
    padding: 1px;
}

.result .note {
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    left: 5%;
    color: #fff;
    padding: 2% 4%;
}

.testimonials {

}

.review {
    text-align: center;
    margin-top: 15%;
}

.review .title {
    padding: 15px 0;
    font-size: 1.2em;
    font-weight: 600;
}

.review img {
    width: 80%;
}

.review p {
    margin-top: 15px;
    padding: 20px;
    border: 1px solid #dedede;
}

.footer {
    margin-top: 8%;
}

.footer .full-banner {
    border-top: none;
    border-bottom: 35px solid #2d527c;
}

.cta {
    font-size: 2em;
}

.cta.footer {

}

.cta .title {
    font-weight: bold;
}

.cta .subtitle {

}
